body{
    background-image: url('https://i.pinimg.com/originals/4b/11/73/4b11736a517898a9d6a4459d75f01880.jpg');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
  }
#p-text{
    margin: 30px 30px 30px 10px;
    color: #6e3b00;
    font-size: 27px;
    font-family: Montserrat;
    text-align: center;
  }
  .p-text{
    font-family: Jost;
    font-size: 17px;

  }
.form{
  text-align: center;
}
#birth{
  border-radius: 20px;
  color:rgb(85, 63, 22);
  font-family: Montserrat;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  border:2px solid rgb(248, 243, 197);
  margin-top:2%;
  width: 70vh;
  margin-left: auto;
  margin-right: auto;
}