body{
    background-image: url('https://i.pinimg.com/originals/4b/11/73/4b11736a517898a9d6a4459d75f01880.jpg');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
  }
#p-text{
    margin: 30px 30px 30px 10px;
    color: #0b538f;
    font-size: 27px;
    font-family: Montserrat;
    text-align: center;
  }
  .p-text{
    font-family: Jost;
    font-size: 17px;

  }
.form{
  text-align: center;
  margin-left: 30vh;
}
