body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKgptWn0V_s260-QnVU75bg8vU-INm5EZ9vtAOx0sLKSkZoZxI');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
  }
#p-text{
    margin: 30px 30px 30px 10px;
    color: #0b538f;
    font-size: 27px;
    font-family: Montserrat;
    text-align: center;
  }
  .p-text{
    font-family: Jost;
    font-size: 17px;

  }

